<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testyoursmarts">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/quiz"
        android:label="Test Your Smarts"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".forgotpassword"></activity>
        <activity android:name=".account_page" />
        <activity android:name=".leaderboardTopicQuiz" />
        <activity android:name=".leaderboardSpeedrunQuiz" />
        <activity android:name=".leaderboardPictureQuiz" />
        <activity android:name=".leaderboardgk_Quiz" />
        <activity android:name=".leaderboardChoiceActivity" />
        <activity android:name=".resultPageActivity" />
        <activity android:name=".musicQuizActivity" />
        <activity android:name=".geographyQuizActivity" />
        <activity android:name=".filmTVQuizActivity" />
        <activity android:name=".sportsQuizActivity" />
        <activity android:name=".scienceQuizActivity" />
        <activity android:name=".historyQuizActivity" />
        <activity android:name=".headtoheadQuizActivity" />
        <activity android:name=".speedRunQuizActivity" />
        <activity android:name=".pictureQuizActivity" />
        <activity android:name=".gkQuizActivity" />
        <activity android:name=".confirmQuiz" />
        <activity android:name=".topicSelector" />
        <activity android:name=".signupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>